
<div id="wrapper" class="active">
      
      <!-- Sidebar -->
            <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="/">All Topics<span id="main_icon" class=""></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">  
          <%@topics.each do |topic| %>   
          <li><a id="topic_<%= topic.id %>" href="/notes/<%=topic.id %>" ><%= topic.name %></a></li>
          <%end%>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9 well lead" style="width: 100%;margin-top: 2%;">
                <%= form_for :note, :url => url_for(:controller => 'notes', :action => 'create'), :html => {:class => 'signupForm', 'style' => 'margin-left:33%;'} do |f| %>
                  <%= f.text_area :note, class: "shortInput" %> 
                   <%= button_tag type: 'submit', class: "button postfix",:style=>"display:contents;" do %>
                      <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-6">
                
              </div>

            </div>
          </div>
        </div>
          <div class="row">
              <div class="col-md-12">
              <% @notes.each do |note| %>
              <div class="well lead">
              <div class="row">
                <div class="col-md-11">
                   <p ><%=note.note %></p> 
                </div>
                <div class="col-md-1">
                  <%= link_to "notes/#{note.id}", method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash-o"></i> 
                  <% end %>
                </div>
              </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
      
    </div>